<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/admin_page.css">
    <title>Organize Semaphor</title>
</head>
<body>
    <div>
        <h1>ORGANIZE SEMAPHOR</h1>

        <button class="button btnready" onclick="readyAlert()">I'm ready!</button>
        <button class="button btnbusy" onclick="busyAlert()">I'm busy!</button>
    </div>

    <script>
        const ws = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/admin_page/'
        );

        ws.onopen = function(event){
            console.log(event);
            console.log("Connection is opened");
        }
        ws.onmessage = function(event){
            console.log("Message is received");
            console.log(event);
        }
        ws.onclose = function(event){
            console.log(event);
            console.log("Connection is closed");
        }
        ws.onerror = function(event){
            console.log("Something went wrong");
            console.log(event);
        }

        function readyAlert(){
            alert("GREEN color on semaphore")
            const message = "GREEN";
            ws.send(JSON.stringify({
                'message': message
            }));
        }
        function busyAlert(){
            alert("RED color on semaphore")
            const message = "RED";
            ws.send(JSON.stringify({
                'message': message
            }));
        }
    </script>

</body>
</html>