<!-- ===================================================== -->
<!-- AUTHOR:    Erika Fasankova                            -->
<!-- PROJECT:   Web App - Organize Semaphore               -->
<!-- Bachelor Thesis                                       -->
<!-- ===================================================== -->

<head>
    <meta charset="UTF-8">
    <title>OrganizeSemaphore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/mainpage.css">
</head>
<body>

<!--  ---  NAVIGATION BAR  ---  -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!--  item HOME is active  -->
            <li class="nav-item active"><a class="nav-link" href="{% url 'mainpage' %}">HLAVNÁ STRÁNKA</a></li>
            <li class="nav-item"><a class="nav-link" href="#">O NÁS</a></li>
            <li class="nav-item"><a class="nav-link" href="#">KONTAKT</a></li>
            <li class="navbar-btn"><a href="{% url 'register' %}" class="btn">REGISTRÁCIA</a></li>
        </ul>
    </div>
</nav>
<!--  ------------------------  -->

<!--  ---  MAIN CONTENT   ---  -->
<br>
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-8">
            <div class="Card">
                <div class="title">
                    <h1>Otvor svoju nástenku a spravuj svoje semafóry</h1>
                </div>

                <div class="row justify-content-lg-center">
                    <div class="col-lg-8">
                        <!--  ---  LOGIN FORM ---  -->
                        <div class="loginForm">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" name="username" placeholder="Používateľské meno..."
                                           class="form-control">
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" name="password" placeholder="Heslo..."
                                           class="form-control">
                                </div>

                                <div class="d-flex justify-content-center mt-4 login_container">
                                    <input class="btn login_btn" type="submit" value="Prihlásiť sa">
                                </div>

                                {% for message in messages %}
                                    <p id="messages">{{ message }}</p>
                                {% endfor %}

                                <div class="mt-4">
                                    <div class="d-flex justify-content-center links">
                                        Nemáte účet? <a href="{% url 'register' %}" class="ml-2">Zaregistrujte sa!</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--  ------------------------  -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--  ------------------------  -->
</body>