<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <title>Semaphore|OrganizeSemaphore</title>
    <style>
        body {
    background-color: #F9F9F9;
    font-family: 'Noto Sans JP', sans-serif;
    color: #A9A9A9;
    text-align: center;
}

h1{
    color: black;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
    </style>
</head>
<body>
    <div>
        <h1>SEMAPHORE</h1>
        <p>Do not send a connection request until the green light is on!</p>

        <span class="dot" id="demo"></span>
    </div>

    {{ pk_test|json_script:"pk-test" }}
    <script>
        const roomName = JSON.parse(document.getElementById('pk-test').textContent);
        console.log(roomName)
        const ws = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/control/'
            + roomName
            + '/'
        );

        ws.onopen = function(event){
            console.log(event);
            console.log("Connection is opened");
        }
        ws.onmessage = function(event){
            console.log("Message is received");
            console.log(event);

            const data = JSON.parse(event.data)

            if (data.message === 'GREEN'){
                console.log("greeen message");
                document.getElementById("demo").style.backgroundColor = "green";
            }
            else {
                console.log("red message");
                document.getElementById("demo").style.backgroundColor = "red";
            }

        }
        ws.onclose = function(event){
            console.log(event);
            console.log("Connection is closed");
        }
        ws.onerror = function(event){
            console.log("Something went wrong");
            console.log(event);
        }

    </script>

</body>
</html>