<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>Organize Semaphore</title>
</head>
<body>
    <div>
        <h1>SEMAPHORE</h1>
        <p>Do not send a connection request until the green light is on!</p>

        <span class="dot" id="demo"></span>
    </div>


    <script>
        const ws = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/semaphore/<str:pk_test>'
        );

        ws.onopen = function(event){
            console.log(event);
            console.log("Connection is opened");
        }
        ws.onmessage = function(event){
            console.log("Message is received");
            console.log(event);

            const data = JSON.parse(event.data)

            if (data.message === 'GREEN'){
                console.log("greeen message");
                document.getElementById("demo").style.backgroundColor = "green";
            }
            else {
                console.log("red message");
                document.getElementById("demo").style.backgroundColor = "red";
            }

        }
        ws.onclose = function(event){
            console.log(event);
            console.log("Connection is closed");
        }
        ws.onerror = function(event){
            console.log("Something went wrong");
            console.log(event);
        }

    </script>

</body>
</html>