{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ semap.name }}|OrganizeSemaphore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito&display=swap" rel="stylesheet">

    <style>
        /* body style */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: linear-gradient(112deg, rgba(149, 238, 254, 1) 28%, rgba(161, 252, 153, 1) 100%);
            font-family: 'Nunito', sans-serif;
        }

        /* ************** */

        /* navbar style */
        .navbar {
            font-weight: bold;
            font-size: 20px;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .navbar .navbar-btn {
            background-color: #f2d24b;
            margin-left: 10px;
            margin-right: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 17px;
        }

        .navbar-btn a {
            font-weight: bold;
            font-size: 20px;
            color: black;
        }

        #navbarNav ul li a:hover {
            color: #33ccff;
        }

        /* ********************** */

        .profileCard {
            margin-top: 10px;
            margin-bottom: 10px;
            background: #F6FBFB;
            text-align: center;
            border-radius: 10px;
        }

        .profileCard h1 {
            font-family: 'Lato', sans-serif;
            font-style: italic;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .profileCard i {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 30px;;
            border-color: grey;
            border-style: solid;
            border-width: 1px;
            border-radius: 75%;
        }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        img {
            height: 210px;
            width: 110px;
            padding-bottom: 10px;
        }

        .btnJoinQueue {
            background-color: #f2d24b;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            margin-bottom: 19px;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .btnJoinQueue:hover {
            background-color: #d0b341;
        }

        .btnLeaveQueue {
            background-color: darkorange;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }

        .btnLeaveQueue:hover {
            background-color: #d57a05;
        }

        .queueClients {
            margin-top: 30px;
        }

        .profileCard p{
            font-size: 14px;
        }

        .profileCard h3{
            font-size: 24px;
        }

        .yourInput input {
            width: 80%;
            margin: 30px auto;
        }

        #sameClient {
            display: none;
        }

    </style>
</head>
<body>
<!--  ---  MAIN CONTENT   ---  -->

<!-- old version
<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="profileCard">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <img src="static 'images/redLight.png'" id="demo" alt="busyLight">
                    </div>
                </div>

                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <div class="input-group mb-3">
                            <div class="col-lg-12">
                                <input type="text" name="clientname" placeholder="Enter your name ..."
                                       class="form-control" id="inputname">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <button class="button btnJoinQueue" onclick="joinQueue()" id="joinQueueBtn">Join the Queue
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-8">
            <div class="dashboardCard">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <h1>"  semap.name  "</h1>
                    </div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <div class="queueClients">
                            <h5>The number of clients in queue:</h5>
                             if semap.semOpen == True
                                <h2 id="queueNumber"> numQueueClients </h2>
                              endif
                             if semap.semOpen == False
                                <h2 id="queueNumber">This semaphore is closed!</h2>
                             endif
                        </div>
                        <div class="clientInfo">
                            <h5>Your name:</h5>
                            <h3 id="showClientName"></h3>
                            <h5>The number of clients ahead of you:</h5>
                            <h3 id="yourNumber"></h3>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="profileCard">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10">
                        <div id="semapName">
                            <h1>{{ semap.name }}</h1>
                        </div>
                        <div id="trafficLight">
                            <img src="{%static 'images/redLight.png'%}" id="demo" alt="busyLight">
                        </div>
                        <div id="allNumber">
                            <p>Celkový počet čakajúcich:</p>
                            {% if semap.semOpen == True %}
                                <h3 id="queueNumber">{{ numQueueClients }}</h3>
                            {% endif %}
                            {% if semap.semOpen == False %}
                                <h3 id="queueNumber">Prihlasovanie do poradia je ukončené</h3>
                            {% endif %}
                        </div>


                        <div id="newClient">
                            <div class="yourInput">
                            <input type="text" name="clientname" placeholder="Enter your name ..." class="form-control" id="inputname">
                        </div>
                        <div id="clientButton">
                            <button class="button btnJoinQueue" onclick="joinQueue()" id="joinQueueBtn">Zapísať sa do poradia
                            </button>
                        </div>
                        </div>

                    <div id="sameClient">
                        <div id="yourName">
                            <p>Tvoje meno:</p>
                            <h3 id="showClientName"></h3>
                        </div>
                        <div id="yourNumber">
                            <p>Počet čakajúcich pred tebou</p>
                            <h3></h3>
                        </div>
                        <div id="yourTime">
                            <p>Predpokladaný čas čakania</p>
                            <h3></h3>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ pk_test|json_script:"pk-test" }}
<script>

    // ------------------------- COOKIES ----------------------------- //
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function setDevice() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    let device = getCookie('device')
    if (device == null || device == undefined) {
        device = setDevice()
    }

    document.cookie = 'device=' + device + ";domain=;path=/";

    // ------------------------------------------------------------ //


    // check if you are in queue and if semaphore is closed
    $.ajax({
        url: '/helloQueueUrl/{{ semap.controlUrl }}/',
        method: 'POST',
        success: function (response) {
            if (response.msg == "You are already in the queue") {
                document.getElementById("sameClient").style.display = 'grid';

                // check your position
                $.ajax({
                    url: '/checkQueueUrl/{{ semap.controlUrl }}/',
                    method: 'POST',
                    success: function (response) {

                        // it's your turn
                        if (response.msg == "SAME") {
                            document.getElementById("demo").src = "{% static 'images/greenLight.png' %}";
                            fillClientInfo(response.msgName, response.msgNum);
                        }
                        // you are in queue, but it is not your turn
                        else if (response.msg == "DIFFERENT") {
                            console.log("not your turn");
                            fillClientInfo(response.msgName, response.msgNum)
                        }
                        // you are not in queue
                        else if (response.msg == "not in queue") {
                            console.log("you must join queue first")

                        }
                    }
                })

            } else if (response.msg == "Close now") {
                document.getElementById("joinQueueBtn").disabled = true;
                document.getElementById("inputname").disabled = true;
            } else if (response.msg == "Not in queue") {
                console.log("Hello, you can join queue now");

            }
        }
    })


    // -------------------- WEBSOCKETS --------------------------- //
    const roomName = JSON.parse(document.getElementById('pk-test').textContent);
    console.log(roomName)

    const ws = new WebSocket(
        'wss://'
        + window.location.host
        + '/ws/semaphore/'
        + roomName
        + '/'
    );

    ws.onopen = function (event) {
        console.log(event);
        console.log("Connection is opened");
    }

    ws.onmessage = function (event) {
        console.log("Message is received");
        console.log(event);

        const data = JSON.parse(event.data)

        if (data.message === 'GREEN') {
            var a = parseInt(document.getElementById("queueNumber").textContent);
            a -= 1;
            var b = a.toString()
            document.getElementById("queueNumber").textContent = b;

            $.ajax({
                url: '/checkQueueUrl/{{ semap.controlUrl }}/',
                method: 'POST',
                success: function (response) {
                    if (response.msg == "SAME") {
                        document.getElementById("demo").src = "{% static 'images/greenLight.png' %}";

                        $.ajax({
                            url: '/editClientInfo/{{ semap.controlUrl }}/',
                            method: 'POST',
                            success: function (response) {
                                console.log(response);
                                var x = parseInt(response.msgNum);
                                if (x > 0) {
                                    document.getElementById("yourNumber").textContent = response.msgNum;
                                } else if (x === 0) {
                                    document.getElementById("yourNumber").textContent = "Get ready";
                                    document.getElementById("demo").src = "{% static 'images/yellowLight.png' %}";
                                } else if (x === -1) {
                                    document.getElementById("yourNumber").textContent = "Your turn";
                                } else {
                                    document.getElementById("joinQueueBtn").className = "button btnJoinQueue"
                                    document.getElementById("joinQueueBtn").textContent = 'Join the Queue';
                                    document.getElementById("inputname").disabled = false;
                                    document.getElementById("joinQueueBtn").disabled = false;
                                    document.getElementById("showClientName").textContent = "";
                                    document.getElementById("yourNumber").textContent = "";
                                }
                            }
                        })

                    } else if (response.msg == "DIFFERENT") {
                        console.log("not your turn")
                        $.ajax({
                            url: '/editClientInfo/{{ semap.controlUrl }}/',
                            method: 'POST',
                            success: function (response) {
                                console.log(response);
                                var x = parseInt(response.msgNum);
                                if (x > 0) {
                                    document.getElementById("yourNumber").textContent = response.msgNum;
                                } else if (x === 0) {
                                    document.getElementById("yourNumber").textContent = "Get ready";
                                    document.getElementById("demo").src = "{% static 'images/yellowLight.png' %}";
                                } else if (x === -1) {
                                    document.getElementById("yourNumber").textContent = "Your turn";
                                } else {
                                    document.getElementById("joinQueueBtn").style.backgroundColor = className = "button btnJoinQueue"
                                    document.getElementById("joinQueueBtn").textContent = 'Join the Queue';
                                    document.getElementById("inputname").disabled = false;
                                    document.getElementById("joinQueueBtn").disabled = false;
                                    document.getElementById("showClientName").textContent = "";
                                    document.getElementById("yourNumber").textContent = "";
                                }
                            }
                        })
                    } else if (response.msg == "not in queue") {
                        console.log("you must join queue first")
                        document.getElementById("demo").src = "{% static 'images/redLight.png' %}";
                        document.getElementById("joinQueueBtn").className = "button btnJoinQueue"
                        document.getElementById("joinQueueBtn").textContent = 'Join the Queue';
                        document.getElementById("inputname").disabled = false;
                        document.getElementById("joinQueueBtn").disabled = false;
                        document.getElementById("showClientName").textContent = "";
                        document.getElementById("yourNumber").textContent = "";
                    }
                }
            })


            /*if (device == ){
                var numbefore = document.getElementById("yourNumber").textContent = data.number;
                var numafter = numbefore + 1;
                document.getElementById("yourNumber").textContent = numafter;
            }*/


        } else if (data.message === 'RED') {
            console.log("red message");
            document.getElementById("demo").src = "{% static 'images/redLight.png' %}";
        }
        // new client joined the queue
        else if (data.message === 'New client in queue') {
            console.log("queue message");
            // number of client in queue + 1
            var oldNum = parseInt(document.getElementById("queueNumber").textContent);
            oldNum += 1;
            var newNum = oldNum.toString()
            document.getElementById("queueNumber").textContent = newNum;

        } else if (data.message === 'OPEN') {
            document.getElementById("inputname").disabled = false;
            document.getElementById("queueNumber").textContent = {{ numQueueClients }}
                document.getElementById("joinQueueBtn").disabled = false;
            alert('Semafor bol na nejaku dobu zatvoreny a niektore udaje nemusia byt spravne. Refreshujte stranku prosim')
        } else if (data.message === 'CLOSE') {
            document.getElementById("inputname").disabled = true;
            document.getElementById("queueNumber").textContent = "This semaphore is closed!"
            document.getElementById("joinQueueBtn").disabled = true;
        } else {
            console.log("wrong message");
        }

    }
    ws.onclose = function (event) {
        console.log(event);
        console.log("Connection is closed");
    }
    ws.onerror = function (event) {
        console.log("Something went wrong");
        console.log(event);
    }

    // -------------------------------------------------------------- //

    // ------------------------- FUNCTIONS -------------------------- //
    function joinQueue() {
        const clientName = document.getElementById('inputname').value;
        console.log(clientName)
        if (clientName == null || clientName == undefined || clientName == "") {
            alert("Please, enter your name")
        } else {
            $.ajax({
                url: '/joinQueueUrl/{{ semap.controlUrl }}/' + clientName + '/',
                method: 'POST',
                success: function (response) {
                    if (response.msg == "You are already in the queue") {
                        alert("You have been joined the queue already")
                    } else if (response.msg == "Change number of queue") {
                        const message = "New client in queue";
                        ws.send(JSON.stringify({
                            'message': message,
                            'name': clientName.toString(),
                            'number': response.num,
                        }));

                        fillClientInfo(clientName.toString(), response.num);
                    }
                }
            })
        }
    }

    function fillClientInfo(name, number) {

        var x = parseInt(number)

        // client is in queue, but there are people ahead
        if (x > 0) {
            document.getElementById("yourNumber").textContent = number;
            document.getElementById("joinQueueBtn").className = "button btnLeaveQueue"
            document.getElementById("joinQueueBtn").textContent = 'Leave the queue';
            document.getElementById("inputname").disabled = true;
            document.getElementById("joinQueueBtn").disabled = true;
            document.getElementById("showClientName").textContent = name;
        }
        // there is nobody ahead
        else if (x === 0) {
            document.getElementById("demo").src = "{% static 'images/yellowLight.png' %}";
            document.getElementById("yourNumber").textContent = "Get Ready";
            document.getElementById("joinQueueBtn").className = "button btnLeaveQueue"
            document.getElementById("joinQueueBtn").textContent = 'Leave the queue';
            document.getElementById("inputname").disabled = true;
            document.getElementById("joinQueueBtn").disabled = true;
            document.getElementById("showClientName").textContent = name;
        }
        // your turn
        else if (x === -1) {
            document.getElementById("yourNumber").textContent = "Your turn";
            document.getElementById("joinQueueBtn").className = "button btnLeaveQueue"
            document.getElementById("joinQueueBtn").textContent = 'Leave the queue';
            document.getElementById("inputname").disabled = true;
            document.getElementById("joinQueueBtn").disabled = true;
            document.getElementById("showClientName").textContent = name;
        }
        // client is not in queue
        else {
            document.getElementById("joinQueueBtn").className = "button btnJoinQueue"
            document.getElementById("joinQueueBtn").textContent = 'Join the Queue';
            document.getElementById("inputname").disabled = false;
            document.getElementById("joinQueueBtn").disabled = false;
            document.getElementById("showClientName").textContent = "";
            document.getElementById("yourNumber").textContent = "";
        }
    }

    // ------------------------------------------------------------------------------- //
</script>

</body>
</html>