body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(112deg, rgba(149, 238, 254, 1) 28%, rgba(161, 252, 153, 1) 100%);
}

.navbar {
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navbar-btn {
    background-color: #f2d24b;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 17px;
}

.navbar-btn a {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

#navbarNav ul li a:hover {
    color: #33ccff;
}

.profileCard {
    margin-top: 20px;
    height: 600px;
    background: #F6FBFB;
    text-align: center;
    border-radius: 10px;
}

.profileCard h1 {
    font-family: 'Akaya Telivigala', cursive;
    padding-top: 35px;
    padding-bottom: 10px;
}

.profileCard i {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 75%;
}

.addCard {
    margin-top: 20px;
    height: 600px;
    background: #F6FBFB;
    text-align: center;
    border-radius: 10px;
}