/* body style */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(112deg, rgba(149, 238, 254, 1) 28%, rgba(161, 252, 153, 1) 100%);
    font-family: 'Nunito', sans-serif;
}

/* ************** */

/* navbar style */
.navbar {
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navbar-btn {
    background-color: #f2d24b;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 17px;
}

.navbar-btn a {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

#navbarNav ul li a:hover {
    color: #33ccff;
}

/* ********************** */

.profileCard {
    margin-top: 20px;
    background: #F6FBFB;
    text-align: center;
    border-radius: 10px;
}

.profileCard h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding-top: 35px;
    padding-bottom: 10px;
}

.profileCard i {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 75%;
}

.dashboardCard {
    margin-top: 20px;
    background: #F6FBFB;
    text-align: center;
    border-radius: 10px;
}

.dashboardCard h1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding-top: 35px;
    padding-bottom: 10px;
}

.profileImg {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.center-btn {
    text-align: center;
    padding-top: 35px;
}

.center-btn a {
    text-decoration: none;
    color: white;
    background-color: #33ccff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 8px;
}

.my-custom-scrollbar {
    margin-top: 40px;
    position: relative;
    height: 400px;
    overflow: auto;
    padding-bottom: 40px;
}

.table-wrapper-scroll-y {
    display: block;
}

.table td {
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 12px;
    font-size: 17px;
}

table tr td a {
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: #f2d24b;
    border-radius: 15%;
    font-size: 18px;
    font-weight: bold;
}

table tr td a:hover {
    background-color: #d0b341;
}

.tableRows {
    height: 20px;
}

.tdName {
    width: 70%;
}

.tdManageBtn {
    width: 30%;
    text-align: center;
}

a.btn.btn-manage {
    font-size: 13px;
    margin-bottom: 5px;
    padding: 5px;
}

.btnEdit {
    background-color: #33ccff;
    font-weight: bold;
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px 40px;
    color: white;
    border: none;
}

.btnEdit:hover, .center-btn a:hover{
    background-color: #30b5e5;
    text-decoration: none;
    color: white;
}

.btnRemove:hover {
    background-color: #d57a05;
    text-decoration: none;
    color: white;
}

.btnRemove{
    background-color: darkorange;
    font-weight: bold;
    border-radius: 5%;
    margin-bottom: 40px;
    font-size: 18px;
    padding: 10px 29px;
    color: white;
    border: none;

}